@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 18% 12%;
    --foreground: 210 5% 98%;

    --card: 210 12% 20%;
    --card-foreground: 210 5% 98%;

    --popover: 210 12% 20%;
    --popover-foreground: 210 5% 98%;

    --primary: 81 54% 58%;
    --primary-foreground: 210 18% 12%;

    --secondary: 210 12% 20%;
    --secondary-foreground: 210 5% 98%;

    --muted: 210 10% 35%;
    --muted-foreground: 210 5% 70%;

    --accent: 204 96% 69%;
    --accent-foreground: 210 18% 12%;

    --destructive: 353 93% 70%;
    --destructive-foreground: 210 5% 98%;

    --border: 210 10% 35%;
    --input: 210 10% 35%;
    --ring: 81 54% 58%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Manrope", sans-serif;
  }
}
